#intro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42vh;
    margin: 0;
}


.intro-container {
    position: absolute;
    text-align: center;
    /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    height: 42vh;
}

.logo-intro {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px auto;
}

.outer-circle {
    fill: none;
    stroke: white;
    stroke-width: 5;
    stroke-dasharray: 282.74;
    /* circumference of the circle */
    stroke-dashoffset: 282.74;
    animation: drawCircle 2s infinite;
}

.inner-circle {
    fill: none;
    stroke: white;
    stroke-width: 5;
    stroke-dasharray: 219.91;
    /* circumference of the circle */
    stroke-dashoffset: 219.91;
    animation: drawCircle 2s 0.5s infinite;
}

@keyframes drawCircle {
    to {
        stroke-dashoffset: 0;
    }
}

.website-name {
    font-size: 3em;
    margin: 10px 0;
}

.subtitle {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
}

.cta-button:hover {
    background-color: white;
    color: #333;
}

.bg-img{
    position: relative;
    z-index: -1000;
    display: flex;
    justify-content: center;
    align-items: center;
}