/* styles.css */
h2 {
    color: white;
}





.reviews {
    display: flex;
}

.review-card {
    max-width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 15px;
    text-align: center;
}

.review-card img {
    border-radius: 50%;
    margin-bottom: 5px;
    width: 100px;
    height: 100px;

}

.review-card p {
    color: #555;
    font-size: 11px;
}

.stars {
    color: #f39c12;
}

.star-rating {
    direction: rtl;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2em;
    margin-bottom: 10px;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    color: #ddd;
    cursor: pointer;
    padding: 0;
}

.star-rating input[type="radio"]:checked~label {
    color: #f5b301;
}

.star-rating label:hover,
.star-rating label:hover~label {
    color: #f5b301;
}






