.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.gap-md {
    gap: 8px;
}

.gap-xl {
    gap: 15px;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.flex-col {
    flex-direction: column;
}

.text-white {
    color: white;
}

.text-center{
    text-align: center;
}

.overflow-hidden{
    overflow:hidden;
}